<h1><%= @kitten.name %></h1> is <%= @kitten.age %> old, cuteness: <%= @kitten.cuteness %>, softness: <%= @kitten.softness %>
<%= link_to "Edit", edit_kitten_path %>
<%= link_to "Delete", kitten_path, method: :delete %>